{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}


<style type="text/css">
</style>

<div>
	<div class="dropdown">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" href="/order">Zakázky</a></li>
			<li class="nav-item"><a class="nav-link active" href="/order/invoices">Faktury</a></li>
			<li class="nav-item"><a class="nav-link" href="#">...</a></li>
		</ul>

		<table id="invoice-table" class="table ">
			<thead>
				<tr>
					<th>_id</th>
					<th>currency</th>
					<th>supplier</th>
					<th>date_of_issue</th>
					<th>due_date</th>
					<th>varible_symbol</th>
					<th>account_number</th>
					<th>iban</th>
					<th>swift</th>
					<th>payment_form</th>
					<th>subscriber</th>
				</tr>
			</thead>
			<tbody>
				<!-- invoices to be added dynamicaly -->
			</tbody>
		</table>

	</div>

	<!-- list of invoices -->
	<ul id="invoice-list"></ul>

	<a href="/order/invoices/new" class="btn btn-primary">Vytvořit novou fakturu</a>
	<button class="btn btn-outline-danger" id="delete-invoices">Smazat všechny faktury [testing purposes]</button>
</div>

<script type="text/javascript">
	$(document).ready(function () {

		let invoices = []

		refreshInvoiceList();

		function refreshInvoiceList() {
			$.ajax({
				type: "GET",
				url: "/order/api/invoices",
				dataType: "json",
				success: function (data, status) {
					// alert("Data: " + data + "\nStatus: " + status);
					if (data.length > 0) {
						invoices = data;
						
						$("#invoice-table tbody").empty();
						invoices.forEach(function (invoice) {
							$("#invoice-table tbody").append(`<tr>
							<td>${invoice._id}</td>
							<td>${invoice.currency}</td>
							<td>${invoice.supplier}</td>
							<td>${invoice.date_of_issue}</td>
							<td>${invoice.due_date}</td>
							<td>${invoice.varible_symbol}</td>
							<td>${invoice.account_number}</td>
							<td>${invoice.iban}</td>
							<td>${invoice.swift}</td>
							<td>${invoice.payment_form}</td>
							<td>${invoice.subscriber}</td>
							<td>
								<a href='/order/invoices/${invoice._id}' class="btn btn-sm 
								btn-primary btn-edit" type="button" data-id="${invoice._id}">Upravit</a>
							</td>
							<td>
								<button class="btn btn-sm btn-danger btn-delete" type="button" 
								data-id="${invoice._id}">Smazat</button>
							</td>
							</tr>`);

							// setup events for new buttons
							$('button.btn-delete').click(function () {
								const invoiceId = $(this).attr("data-id");
								$.ajax({
									type: "DELETE",
									url: "/order/api/invoices/" + invoiceId,
									success: function (data, status) {
										alert("Invoice " + invoiceId + " deleted");
										refreshInvoiceList();
									},
									error: function (jqXHR, textStatus, errorThrown) {
										alert("Error: " + textStatus + "\n" + jqXHR.responseText);
									}
								});
							})

						});

					} else {
						var li = $('<li></li>').text("no invoices in database");
						ul.append(li);
					}
					$('#container').append(ul);
				}
			})
		}

		$('#delete-invoices').click(function () {
			$.ajax({
				type: "DELETE",
				url: "/order/api/invoices",
				success: function (data, status) {
					alert("All invoices deleted");
					refreshInvoiceList();
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("Error: " + textStatus + "\n" + jqXHR.responseText);
				}
			});
		});
	})
</script>

{% end %}