{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}


<style type="text/css">
  .product_list_element {
    margin: 0pt;
    margin-top: 10pt;
    padding: 5pt;
  }

  .product_list_element_table {
    width: 100%;
    background: white;
    border: #aaa solid 1pt;
    padding: 5pt;
    margin: 0pt;
    display: inline-flex;
  }

  .table_input {
    width: 8em;
    border: #ccc solid thin;
    background: #fafafa;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }


  .cat_top {
    flex: 0 0 auto;
    width: 150pt;
  }

  #filter_block {
    /* display: flex; */
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0pt;
  }

  .form-tab-td {
    padding: 0px;
  }

  .list_name {
    padding-left: 0.5em;
    vertical-align: top;
  }

  .highlight {
    background-color: rgb(191, 230, 191);
  }
</style>

<div>
  <div class="dropdown">
    <a class="btn btn-outline-primary dropdown-toggle btn-lg" href="#" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Faktury
    </a>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/order">Zakázky</a></li>
      <li><a class="dropdown-item active" href="/order/invoices">Faktury</a></li>
      <li><a class="dropdown-item" href="#">...</a></li>
    </ul>
  </div>

  <!-- list of invoices -->
  <ul id="invoice-list"></ul>

  <button class="btn btn-outline-primary" id="fill-invoices">Fill invoice list (test button)</button>
  <button class="btn btn-outline-danger" id="delete-invoices">Delete ALL invoices (test button)</button>
  <button class="btn btn-outline-danger" id="delete-invoice">Delete Random invoice (test button)</button>
  <button class="btn btn-outline-success" id="update-invoice">Update Random invoice (test button)</button>
  <a href="/order/invoices/new" class="btn btn-primary">Go To New Invoice [still in development]</a>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    let invoices = []

    refreshInvoiceList();


    function refreshInvoiceList() {
      $.ajax({
        type: "GET",
        url: "/order/api/invoices",
        dataType: "json",
        success: function (data, status) {
          // alert("Data: " + data + "\nStatus: " + status);
          var ul = $('#invoice-list');
          ul.empty();
          if (data.length > 0) {
            $.each(data, function (index, element) {
              var li = $('<li></li>').text("Faktura " + element["_id"]);
              ul.append(li);
            })
            invoices = data;
          } else {
            var li = $('<li></li>').text("no invoices in database");
            ul.append(li);
          }
          $('#container').append(ul);
        }
      })
    }

    $('#fill-invoices').click(function () {
      refreshInvoiceList();
    });

    $('#update-invoice').click(function () {
      var invoiceId = invoices[0]._id;
      const invoice_sample = {
        "updated" : "updated",
        "updated" : {
          "updated" : "updated",
        }
      }
      $.ajax({
        type: "PUT",
        url: "/order/api/invoices/" + invoiceId,
        data: JSON.stringify(invoice_sample),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data, status) {
          console.log("Invoice updated successfully");
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("Error updating invoice: " + textStatus);
        }
      });
    })

    $('#delete-invoices').click(function () {
      $.ajax({
        type: "DELETE",
        url: "/order/api/invoices",
        success: function (data, status) {
          alert("All invoices deleted");
          refreshInvoiceList();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert("Error: " + textStatus + "\n" + jqXHR.responseText);
        }
      });
    });

    $('#delete-invoice').click(function () {
      var invoiceId = invoices[0]._id; // replace with the ID of the invoice to delete
      alert(invoiceId)
      $.ajax({
        type: "DELETE",
        url: "/order/api/invoices/" + invoiceId,
        success: function (data, status) {
          alert("Invoice " + invoiceId + " deleted");
          refreshInvoiceList();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert("Error: " + textStatus + "\n" + jqXHR.responseText);
        }
      });
    });
  })
</script>

{% end %}