{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}

<style type="text/css">
    .label {
        margin: 10px;
    }
</style>

<div>
    <div class="container">
        <p id="subpage-title" class="fs-1">Tvorba nové faktury</p>
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="invoice-id">
                    <label for="floatingInput">číslo faktury</label>
                    <div id="invoice-id-help" class="form-text">Nastavte unikátní označení nové faktury. Označení, které
                        vidíte, je automaticky navržené.</div>
                    </div>
                <div class="alert alert-success" style="display : none" role="alert">
                    Číslo faktury úspěšně přiřazeno!
                </div>
            </div>

            <div class="inline">
                <button id="create-invoice" type="button" class="btn btn-success">Vytvořit fakturu</button>
                <button id="go-back" type="button" class="btn btn-secondary">Zrušit</button>
                <a href="/order/invoices/new" id="edit-invoice"style="display : none" class="btn btn-success">Pokračovat</a>
            </div>
        </div>
    </div>
</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        // generate invoice id
        $("#invoice-id").val("F12023020001");

        //sample invoice
        let invoice = {
            "_id": $("#invoice-id").val(),
        };

        $("#invoice-id").on("input", function () {
            invoice._id = $(this).val();
        });

        $("#create-invoice").click(function () {
            $.ajax({
                type: "POST",
                url: "/order/api/invoices",
                data: JSON.stringify(invoice),
                contentType: "application/json",
                success: function (data, status) {
                    $("#invoice-id").prop("disabled", true);
                    $('button').hide();
                    $('#invoice-id-help').hide();
                    $("#edit-invoice").attr("href", "/order/invoices/"+invoice._id);
                    $('#edit-invoice').show();
                    $('.alert-success').show();
                    // display confirmation
                    // redirect to page where invoce to be modified
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status == 400) {
                        alert("Invoice with this id already exists.");
                    } else {
                        alert("Error: " + textStatus + "\n" + jqXHR.responseText);
                    }
                }
            })
        })
    });
</script>

{% end %}