{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}



<style type="text/css">
</style>

<div>
    <div class="container">
        <div class="row container">
            <p id="subpage-title" class="fs-1">Faktura</p>
        </div>
        <div class="row">
            <div class="col">

                <div class="input-group mb-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="invoice-id" disabled>
                        <label for="floatingInput">číslo faktury</label>
                    </div>
                    <button class="btn btn-outline-secondary" type="button" id="edit-invoice-id">Upravit</button>
                </div>
            </div>


            <p id="subpage-title" class="fs-2">Dodavatel</p>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Dodavatel</label>
            </div>

            <p id="subpage-title" class="fs-2">Obderatel</p>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Obderatel </label>
            </div>

            <select class="form-select" aria-label="Mena">
                <option selected>Měna</option>
                <option value="1">CZK</option>
                <option value="2">USD</option>
                <option value="3">EUR</option>
            </select>

            <label for="order_date_of_creation" class="col-sm-2 col-form-label">Datum splatnosti</label>
            <div class="col-sm-10 row">
                <input type="date" class="form-control" id="order_date_of_creation">
            </div>

            <label for="order_date_of_creation" class="col-sm-2 col-form-label">Datum vystavení</label>
            <div class="col-sm-10 row">
                <input type="date" class="form-control" id="order_date_of_creation">
            </div>

            <label for="order_date_of_creation" class="col-sm-2 col-form-label">Datum zdanitelného plnění</label>
            <div class="col-sm-10 row">
                <input type="date" class="form-control" id="order_date_of_creation">
            </div>

            Udaje k platbe
            - Variabilní symbol platby
            - Číslo účtu/kód
            - IBAN:
            - SWIFT:
            Forma uhrady

            Tabulka vyrobku

            peněžní suma
            den vyhotovení účetního dokladu


            <button id="generate_pdf" type="button" class="btn btn-primary">Generovat PDF ...</button>
            <button id="modify_order" type="button" class="btn btn-success">Uložit</button>
            <button id="create_order" type="button" class="btn btn-outline-success">Uzavřít fakturu</button>
        </div>
    </div>
</div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        //sample invoice
        let invoice = {
            "..." : "..."
        }
        // generate invoice ID
        $("#invoice-id").val("F12023020001");


        $("#edit-invoice-id").click(function () {
            const disabled = $("#invoice-id").is(":disabled");
            //alert(disabled)
            if (disabled) {
                $("#edit-invoice-id").text("Uloži změnu");
            } else {
                $("#edit-invoice-id").text("Upravit");

            }

            $("#invoice-id").prop(
                'disabled', !disabled
            );
        })

        $("#modify_order").click(function () {
            $.ajax({
                type: "POST",
                url: "/order/api/invoices",
                data: invoice,
                dataType: "json",
                success: function (data, status) {
                    alert("Faktura ulozena");
                },
                error: function (data, status) {
                    alert("Faktura nebyla ulozena");
                }
            })
        })

    });
</script>

{% end %}