{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}


<style type="text/css">
  .hidden {
    display: none;
  }
</style>

<div>
  <div class="dropdown">
    <a class="btn btn-outline-primary dropdown-toggle btn-lg" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Zakázky
    </a>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item active" href="/order">Zakázky</a></li>
      <li><a class="dropdown-item" href="/order/invoices">Faktury</a></li>
      <li><a class="dropdown-item" href="#">...</a></li>
    </ul>

    <ul id="invoice-list">

    </ul>
  </div>
  <a href="/order/view/test" class="btn btn-primary hidden" >Go To Order Test View</a>
</div>

<script type="text/javascript">
  
</script>

{% end %}