{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}


<style type="text/css">
  .hidden {
    display: none;
  }
</style>

<div>
  <div class="dropdown">

    <ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" href="/order">Zakázky</a></li>
			<li class="nav-item"><a class="nav-link" href="/order/invoices">Faktury</a></li>
			<li class="nav-item"><a class="nav-link" href="#">...</a></li>
		</ul>

    <ul class="dropdown-menu">
    </ul>

    <ul id="invoice-list">

    </ul>
  </div>
  <a href="/order/view/test" class="btn btn-primary hidden" >Go To Order Test View</a>
</div>

<script type="text/javascript">
  
</script>

{% end %}