tornado
glob2
gitpython
#pyocclient==0.5
git+https://github.com/owncloud/pyocclient.git@v0.5
termcolor
fpdf
pandas
barcode
mongomock
code128
si_prefix
python-barcode
gitpython
pystrich
redis
pymongo
PySocks
