{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}

<nav style="margin: 0.5rem;" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' widtd='8' height='8'%3E%3Cpatd d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="./../../..">Home</a></li>
    <li class="breadcrumb-item"><a href="./../..">Production</a></li>
  </ol>
</nav>

<div class="container">

	<div class="row">
		<div class="col">

	<div class="card">
		<div class="card-header">
			Seznam výrobních podkladů

		<span class="float-right" style="display: block;">
          <a href="#" class="float-right mx-1" onclick="$('#production-list-tree').jstree('refresh')" title="Obnovit seznam"><i class="bi bi-arrow-counterclockwise"></i></a>
          <a href="#" class="float-right mx-1" onclick="$('#production-list-tree').jstree('open_all')" title="Rozevřít všechny položky"><i class="bi bi-arrows-expand"></i></a>
          <a href="#" class="float-right mx-1" onclick="$('#production-list-tree').jstree('close_all')" title="Srolovat celý seznam"><i class="bi bi-arrows-collapse"></i></a>
          <a href="#" class="float-right mx-1" onclick="new_production_article()" title="Přidat novou skupinu"><i class="bi bi-file-plus"></i></a>
          </span>
		</div>
	<div id="production-list-tree" class="mb-0" style="max-height: 80vh; overflow:scroll;">
	</div>
</div>
</div>


		<div class="col">
<div class="card" id="production_info" style="display: none;">
	<div class="card-header">
		Verze produktu

          <a href="#" class="float-right mx-1" onclick="$('#production_info').hide();"><i class="bi bi-x"></i></a>
          <a href="#" class="float-right mx-1" onclick=""><i class="bi bi-save"></i></a>
	</div>
	<div class="card-body" id="production_info_loading">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<div class="card-body" id="production_info_data">

		<form>
			<div class="form-group">
				<label>Název: <small class="text-muted">(<span id="production_group_id"></span>)</small></label>
				<input type="text" class="form-control" name="" id="production_group_name">
			</div>
			<div class="form-group">
				<label>Popis: </label>
				<textarea class="form-control" name="" id="production_group_description"></textarea>
			</div>

		</form>

		<div><label>Varianty: </label> <span class="float-right"><a class="bi bi-file-plus"></a></span></div>
		<div class="card mt-0 mb-0">
			<ul class="list-group list-group-flush" id="variants_list">
				
			</ul>
		</div>
	</div>
</div>
</div>

</div>


<div style="height: 5cm;">
	
</div>


Následující obsah bude v budoucnu odstraněn.... <br>
<a href="/production/new/edit/" class="btn btn-sm btn-primary">Nový produkt</a>

</div>

<script type="text/javascript">

function load_production_tree(){
    var production_tree = $('#production-list-tree').jstree({
        'core' : {
           'data' : {
              'type': "POST",
              'url' : "/production/api/getProductionTree/?jstree=True"
            },
  			"check_callback" : true
        },
        "plugins" : [
            //  "checkbox",
			  "contextmenu",
			  "dnd",
			//  "massload",
			//  "search",
			  "sort",
			  "state",
			  "types",
        ],
        'checkbox':{
            'whole_node': false,
        },
		'dnd':{
		  'is_draggable': true,
		  'use_html5': true,
		}
		,"types" : {
	      "folder" : {
	        "icon" : "bi bi-inboxes"
	      },
	      "product" : {
	        "icon" : "bi bi-cpu"
	      }
	    },
    });


	production_tree.bind("move_node.jstree", function(e, data) {
   		console.log("Presouvam pozici " + data.node.id + " to " + data.parent);
	    $.ajax({
	      type: "POST",
	      url: "/production/api/productionTree/move/",
	      data: {'id': data.node.id, 'parent': data.parent},
    	});
    });

	production_tree.on('changed.jstree', function (e, data) {
		if(data.event && data.event.type == 'click'){

			if(data.node.type == 'product'){
				// tady je kliknuti na produkt
				console.log("ON change", data);
				load_production_info(data.node.id);
			}

		}
	});


}
load_production_tree();

function new_production_article(){
	$.ajax({
	   url:'/production/api/getProductionGroup/new/',
	   type:'GET',
	   success: function(data){
	   		console.log("Nova skupina", data);
	   		load_production_info(data);
	   }
	});
}

function load_production_info(id){

	$("#production_info_loading").show();
	$("#production_info_data").hide();
	$("#production_info").show();
	
	console.log("Nacitam data o polozce", id);

    $.ajax({
		type: "POST",
		url: "/production/api/getProductionGroup/"+id+"/",
		//contentType : 'application/json',
		data: {
			//'selected': active_categories(),
			//'position': $('#position_select').val(),
		},
		success: function( data, textStatus, jQxhr ){
			data = JSON.parse(data)[0]
			console.log(data);

			$("#production_group_name").val(data['name']);
			$("#production_group_id").text(data['_id']['$oid']);
			$("#production_group_description").val(data['description']);

			$("#variants_list").empty();
			
			if(!data.variants.length){
				$("#variants_list").append("<p class='text-muted m-2'> Skupina neobsahuje žádné výrobní podklady.</p>");
			}else{
				for (variant_i in data.variants) {
					var variant = data.variants[variant_i]

					tab = '<li class="list-group-item"> <div class="small text-muted"> Varianta: ' + variant['_id']['$oid'] + '</div>';
					tab += '<div class="d-flex justify-content-between">';
					tab += '<span> #' + variant_i + ' <span class="badge bg-info">' + ' - ' + '</span></span>';
					tab += '<span>' + 'xxx' +'</span>';
					tab += '<span>';
					tab += '	<a class="bi bi-hammer" href="/production/'+ variant['_id']['$oid'] +'/edit/"></a>';
					tab += '	<i class="bi bi-building"></i>';
					tab += '</span></div></li>';

					console.log(tab)

					$("#variants_list").append(tab);
				}
			}

			$("#production_info_loading").hide();
			$("#production_info_data").show();

		},
		error: function( jqXhr, textStatus, errorThrown ){
			console.log('ERR, /store/api/products/')
			console.log( errorThrown );
		}
	});

}

</script>

{% end %}
