{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}

{% import datetime %}

<nav style="margin: 0.5rem;" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' widtd='8' height='8'%3E%3Cpatd d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="./../../..">Home</a></li>
    <li class="breadcrumb-item"><a href="./../..">Production</a></li>
  </ol>
</nav>

<div class="container">
<div class="row">


<div class="row">
	{{product}}
</div>

<div class="row close_content" >
	
</div>
</div>

</div>

<script type="text/javascript">
	
	function update_table(){
		$(".bom_loading_show").show();
		$(".bom_loading_hide").hide();
		$(".bom_table_body").empty();


		$.ajax({
	        type: "GET",
	        url: "../get_close_table/",
	        data: {
	        	name: $('#production_name').val(),
	        },
	   		//async: false,
	        success: function( data, textStatus, jQxhr ){
				$(".bom_loading_show").hide();
				$(".bom_loading_hide").show();

				$(".close_content").html(data);
	    		
	    	},
	        error: function( jqXhr, textStatus, errorThrown ){
	            console.log( errorThrown );
	            Lobibox.notify('error', {
	                msg: 'CHYBA!!!!: ' + errorThrown,
	                icon: false,
	            });
	        }
	    });
	}

	update_table();
</script>

{% end %}
